html {
  box-sizing: border-box;
  background-color: #fff;
  line-height: 1.5;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #e2e2e2;

}

header img {
  display: inline-flex;
  width: 2rem;
  order:-1;
}

header h1{
  order: 0;
}

header p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

nav ul{
  list-style-type: none;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  order: 2;

}

nav a {
  color: #0074d9

}
